.forgot-title {
    text-align: center;
    color: red;
    margin-top: 2%;
}

.forgot-password {
    display: flex;
    align-items: center;
    justify-content: center;
}

.forgot-sub-container {
    height: 400px;
    width: 800px;
    margin-top: 5%;
}

.forgot-sub-container h1 {
    text-align: center;
    margin-top: 2%;
}

.forgot {
    height: 35px;
    width: 32%;
}