.main-logo {
    height: 100vh;
    width: 100%;
}

.homepage-content {
    position: absolute;
    bottom: 45%;
    left: 2%;
    line-height: 55px;
}

.sub-img {
    position: absolute;
    border-radius: 50%;
    height: 500px;
    width: 500px;
    bottom: 8%;
    border: 12px solid white;
    left: 65%;
}

.hero-section-main {
    font-size: 48px;
}

.hero-desc {
    color: red;
    font-size: 48px;
}

.hero-section {
    line-height: 85px;
    margin-left: 12px;
}

.main-desc {
    font-weight: 800;
    font-size: 18px;
    color: #6b6b6b;
    margin-left: 18px;
    line-height: 33px;
}

.home-page-card {
    height: 312px;
    width: 300px;
    background-color: #9cd6ee;
    margin: 50px;
    border-radius: 10px;
}

.home-page-card-one {
    height: 312px;
    width: 300px;
    background-color: rgb(248, 232, 204);
    margin: 50px;
    border-radius: 10px;
    position: relative;
    bottom: 60px;
    right: 85px;
}

.home-page-card-one h2 {
    text-align: center;
    margin-top: 2.5%;
}

.home-page-card-one p {
    text-align: center;
    margin-top: 5.5%;
}

.card-img {
    border-radius: 50%;
    margin-top: 12%;
    margin-left: 34.5%;
}

.home-page-card h2 {
    text-align: center;
    margin-top: 2.5%;
}

.home-page-card p {
    text-align: center;
    margin-top: 5.5%;
}

.home-page-cards {
    display: flex;
    flex-wrap: wrap;
    margin-left: 45%;
    margin-top: -25%;
}

.home-page-card-two {
    height: 312px;
    width: 300px;
    background-color: #f8e1e5;
    margin: 50px;
    border-radius: 10px;
    position: relative;
    bottom: 80px;
    right: 85px;
    left: 0px;
}

.home-page-card-two h2 {
    text-align: center;
    margin-top: 2.5%;
}

.home-page-card-two p {
    text-align: center;
    margin-top: 5.5%;
}

.home-page-card-two-two {
    height: 312px;
    width: 300px;
    background-color: #9fc3f0;
    margin: 50px;
    border-radius: 10px;
    position: relative;
    bottom: 140px;
    right: 85px;
}

.home-page-card-two-two h2 {
    text-align: center;
    margin-top: 2.5%;
}

.home-page-card-two-two p {
    text-align: center;
    margin-top: 5.5%;
}

.home-main-content {
    display: flex;
}

.mid-content {
    margin-left: 2%;
    margin-top: 2%;
    line-height: 45px;
}

.mid-content-dec {
    margin-top: 3%;
    margin-left: 35%;
    line-height: 25px;
    font-weight: 500;
}

.bottom-content {
    display: flex;
    margin-top: 5%;
    margin-left: 5%;
    column-gap: 230px;
    margin-bottom: 50px;
}

.bottom-card {
    height: 152px;
    width: 300px;
}

.bottom-img {
    display: flex;
    justify-content: center;
}

.bottom-card h2 {
    text-align: center;
    margin-top: 8%;
}

.bottom-card p {
    text-align: center;
    margin-top: 5%;
}
